body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #797D7F;
    color: #ABEBC6;
    font-size: 30px;
}